/*:root {*/
/*    --from-left: 0px;*/
/*    --to-right: 0px;*/
/*}*/

/*.delimiter {*/
/*    width: 1px;*/
/*    height: .9em;*/
/*    margin: auto 5px;*/
/*    background-color: #fff;*/
/*    opacity: .6;*/
/*}*/

/*.news-feed-container {*/
/*    overflow: hidden;*/
/*    height: 20px;*/
/*    width: 100%;*/
/*    position: relative;*/
/*    background-color: #333236;*/
/*    display: flex;*/
/*    flex-flow: row wrap;*/
/*    white-space: nowrap;*/
/*}*/
/*.news-feed {*/
/*    box-sizing: border-box;*/
/*    height: 100%;*/
/*    display:flex;*/
/*    position:relative;*/
/*    animation:slide 43s linear infinite;*/
/*}*/

/*.news-feed:hover {*/
/*    animation-play-state: paused*/
/*}*/

/*.news-feed-item {*/
/*    text-decoration: none;*/
/*    display: inline-flex;*/
/*    padding: 0 5px 0 5px;*/
/*    font-size: 1em;*/
/*    line-height: 1.4em;*/
/*    font-weight: 400;*/
/*    margin-right: 35px;*/
/*    color: #fff;*/
/*    float: left;*/
/*}*/
